* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #020617;
}

.main-content {
  margin-left: 250px;   /* same as sidebar width */
}
